.grid{
    display: grid;
    grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
    gap: 70px;
    margin-top: 70px;
}

.grid-texte{
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 7;
}

.grid-photo{
    grid-row-start: 1;
    grid-column-start: 7;
    grid-column-end: 13;
}

@media screen and (max-width: 800px) {
   

    .grid-photo{
        grid-row-start: 2;
        grid-column-start: 2;
        grid-column-end: 11;
    }

}